body {
  background-color: #140025; 
  color: #e0e0e0; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  margin: 32px 128px 32px 128px;
  text-justify: inter-character;
  line-height: 1.5;
}

a {
  color: #bb86fc;
}

/* Headings, a bit darker with each level */
h1 {
  color: #03dac6;
}
h2 {
  color: #018786;
}
h3 {
  color: #00574b;
}
h4 {
  color: #00332b;
}

ul {
  margin-left: 20px;
}

li {
  margin-bottom: 10px; 
  line-height: 1.6; 
}

li::marker {
  content: "— ";
  color: #03dac6;
}

em {
  font-style: italic;
  color: #cf6679;
}

strong {
  font-weight: bold;
  color: #ffb74d;
}

#name {
  font-size: 300%;
  font-weight: bold; 
  color: rgb(137, 0, 137); 
  margin-bottom: 20px;
  text-align: center;
  -webkit-text-stroke: 1px #a000c0;
}

#footer {
  font-size: 80%;
  color: #5a5a5a;
  text-align: center;
  margin-top: 80px;
}

#footer:hover {
  color: rgb(160, 117, 192);
  font-weight: 900;
}

#notka {
  font-size: 70%;
  color: #777777;
}

@media (max-width: 1000px) {
  body {
    margin: 8px;
    font-size: 100%;
  }
}